@import url('https://fonts.googleapis.com/css2?family=Spirax&display=swap');

/* main container style */

body{
    background-color: rgba(0, 0, 0, 0.897);
    font-family: "Spirax"; 
}

/* gallery title */

.gallery-title{
    color: white;
    text-align: center;
    font-size: 25px;
}

.gallery-title h2::after{
   content: "";
   background: linear-gradient(90deg, rgba(207,1,195,1) 2%, rgba(43,83,204,1) 37%, rgba(74,88,228,1) 47%, rgba(115,80,210,1) 77%, rgba(32,108,173,1) 88%, rgba(0,109,193,1) 99%);
   height: 3px;
   width: 100px;
   display: block;
   margin: auto;
   margin-top: 5px;
}


/* image gallery container style */

.img-gallery{
    width: 65%;
    display: block;
    margin: auto;
    margin-top: 50px;
    border: 1px solid rgb(44, 44, 44);
    padding: 20px;
    margin-bottom: 200px;
}


/* selected img section style */

.selected-img{
    color: white;
    
}

.selected-img span{
    font-size: 25px;
}

/* delete image btn style */
.delete-img{
    color: red;
    cursor: pointer;
    font-size: 25px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 5px #ff1010;
    height: 50px;
    width: 50px;
    transition: .6s;
}

  .delete-img:hover {
    box-shadow: 0 0 25px #ff1010;
  }
  

.delete-img:disabled{
    cursor: no-drop;
}


/* gallery container style */
.gallery-container{
    margin-top: 30px;
}

.image-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px;
    align-items: start;
    justify-items: center;
    margin: auto;
    width: 100%;
}

.image-items{
    border: 1px solid rgba(0,0,0,0.3);
    max-width: 100%;
    position:relative; 
   
}

.img-div{
    background-color: white;
   transition: .5s;
   height: 100%;
   transition: transform 2s;

}

.img-div:hover  {
    background: rgba(179, 179, 179, 0.904);
}



.img-div:hover img{
    opacity: .5;
}


.image-checkbox{
    visibility: hidden;
    position: absolute;
    height: 18px;
    width: 18px;
    transition: opacity 1s;
    left: 0;
    top: 0;
}

.image-checkbox:checked{
    visibility: visible;
  
}

.image-items.checked .img-div img {
    opacity: 0.5;
}

.image-items:hover .image-checkbox{
    visibility: visible;
}


.img-div img{
    width: 100%;
    height:100%;
    transition: .4s;
}


.image-container .image-items:nth-child(1) {
    grid-column: span 3;
    grid-row: span 3;
}

  
  
  /* Style for input file container */


.file-input-container {
    border: 1px dashed black;
    position: relative;
    background-color: #ffffff; 
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  
  
  /* Style for the preview image */
  .preview-image {
    width: 40px; 
    height: 40px; 
    margin: auto;
    display: block;
    margin-bottom: 10px; 
    cursor: pointer;
  }

  .add-img-btn{
    border: none;
    font-weight: 700;
    display: block;
    margin: auto;
    cursor: pointer;
    background-color: white;
    margin-bottom: 10px;
  }
  